.footer {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    background-color: $secondary-color;
    color: white;
    height: 100%;
    z-index: 1000;

    &__wrapper {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: $toolbar-height;
        z-index: 1000;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        position: relative;
        transition: background-color 0.3s ease-in-out;

        &--active .icon-wrapper {
            background-color: rgba(255, 255, 255, 0.2); // Pill-Effekt wenn aktiv
        }

        &--primary {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(-30px);
            z-index: 1000000;

            .icon-wrapper {
                padding: $spacing-md;
            }
        }
    }

    &__label {
        font-size: $font-size-xs;
        margin-top: calc($spacing-sm / 2);
        color: $white-light;
    }
}


.half-circle-button {
    position: absolute;
    background-color: $primary-color;
    width: $icon-size-xl;
    height: $icon-size-xl;
    border-radius: 50%;
    padding: $spacing-sm;
    cursor: pointer;
    transition: 300ms;

    &--show {
        z-index: 1;

        &:nth-of-type(1) {
            transform: translateY(-60px) translateX(-75px);
        }

        &:nth-of-type(2) {
            transform: translateY(-105px);
        }

        &:nth-of-type(3) {
            transform: translateY(-60px) translateX(75px);
        }
    }

    &--hidden {
        z-index: -1;
    }

    &:hover {
        background-color: $primary-hover-color;
    }

    &-wrapper {
        position: absolute;
        top: 12px;
        left: 12px;
        transition: opacity 0.3s ease;
    }
}
