.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    background-color: $secondary-color;
    color: white;
    height: 100%;

    &__wrapper {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: $toolbar-height;
        z-index: 1;
    }

    &__icon {
        font-size: $icon-size-sm;

        &--big {
            font-size: $icon-size-md;
        }
    }

    &__button {
        background-color: $primary-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
            background-color: $primary-hover-color;
            transform: scale(1.1);
        }

        &--big {
            width: $icon-size-xxl;
            height: $icon-size-xxl;
            outline: 3px solid $secondary-color;
        }

        &-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(-30px);
            z-index: 1000000;
        }
    }
}

.half-circle-button {
    position: absolute;
    background-color: $primary-color;
    width: $icon-size-xl;
    height: $icon-size-xl;
    border-radius: 50%;
    padding: $spacing-sm;
    cursor: pointer;
    transition: 300ms;

    &--show {
        z-index: 1;

        &:nth-of-type(1) {
            transform: translateY(-60px) translateX(-75px);
        }

        &:nth-of-type(2) {
            transform: translateY(-105px);
        }

        &:nth-of-type(3) {
            transform: translateY(-60px) translateX(75px);
        }
    }

    &--hidden {
        z-index: -1;
    }

    &:hover {
        background-color: $primary-hover-color;
    }

    &-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.3s ease;
    }
}
