header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $toolbar-height;
    display: flex;
    justify-content: center;
    padding: $spacing-md 0;
    background-color: $primary-color;
    color: white;
    z-index: 1010;
}

.notifications-count {
    @apply bg-rose-600;
    position: absolute;
    top: -6px;
    right: -6px;
    color: white;
    border-radius: 50%;
    font-size: $font-size-xs;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 18px;
    height: 18px;
}
