header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $toolbar-height;
    display: flex;
    justify-content: center;
    padding: $spacing-md 0;
    background-color: $primary-color;
    color: white;
    z-index: 1010;
}