@import "variables";

.tutorial-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2563eb;
  padding: $spacing-lg;

  .tutorial-swiper {
    width: 100%;
    height: 100%;
  }

  .tutorial-step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: center;
    height: 100%;

    &__headline-wrapper {
      display: flex;
      gap: $spacing-md;
      margin-bottom: $spacing-md;
      justify-content: flex-start;
      width: 100%;
    }

    &__headline {
      font-size: $font-size-md;
      width: 70%;
      text-align: center;
    }

    &__icon {
      font-size: $icon-size-xl;
    }

    &__text {
      font-size: $font-size-sm;
      margin-bottom: $spacing-md;
      text-align: center;
      height: 100px;
    }

    &__image-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: $spacing-md;
    }

    &__image-wrapper {
      position: relative;
      display: inline-block;
      margin-bottom: $spacing-md;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 100%;
        background-color: #fff;
        border-radius: 50%;
        z-index: -1;
      }
    }

    &__image {
      max-width: 80%;
      display: block;
      margin: 0 auto;
      position: relative;
      z-index: 1;
    }

    &__image-description {
      display: flex;
      flex-direction: column;
      gap: $spacing-sm;
      width: 100%;

      .bioClimate-color {
        background-image: linear-gradient(to right, #d73027, #fdae61, #fee08b, #66bd63, #1a9850);
        width: inherit;
        height: $spacing-sm;

        &__description {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }

  .tutorial-progressbar {
    position: relative;
    width: 80%;
    height: 6px;
    background-color: white;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: $spacing-lg;

    .tutorial-progress {
      height: 100%;
      background-color: $secondary-color;
      transition: width 0.3s ease-in-out;
    }
  }

  .tutorial-navigation {
    display: flex;
    justify-content: space-between;
    gap: $spacing-lg;
    width: 100%;

    .hidden {
      opacity: 0;
      pointer-events: none;
    }

    .tutorial__button {
      position: relative;

      &--prev {
        .icon {
          position: absolute;
          left: $spacing-sm;
        }
      }

      &--next {
        .icon {
          position: absolute;
          right: $spacing-sm;
        }
      }
    }
  }
}
