@import "styles/reset";
@import "styles/variables";

@import "leaflet/dist/leaflet.css";

@import "styles/Button";
@import "styles/Icon";

@import "styles/Header";
@import "styles/Footer";
@import "styles/Map";
@import "styles/Settings";
@import "styles/Modal";
@import "styles/WeatherModal";
@import "styles/Loading";
@import "styles/Tutorial";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.leaflet-control-attribution {
  display: none;
}
