@import "styles/reset";
@import "styles/variables";

@import "leaflet/dist/leaflet.css";

@import "styles/Button";
@import "styles/Icon";

@import "styles/Header";
@import "styles/Footer";
@import "styles/Map";
@import "styles/Settings";
@import "styles/Modal";
@import "styles/WeatherModal";
@import "styles/Loading";
@import "styles/Tutorial";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.leaflet-control-attribution {
  display: none;
}
